@page
@model ABC_Retail.Pages.HomeModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color: #ffc2c7;">

    <div class="container" style="background-image: linear-gradient(to bottom, #fbc0c0, #fb5490, #f41f4e); color: black; padding: 20px; border-radius: 10px; margin: 20px; width: calc(100% - 40px); text-align: justify;">
        <div class="text-center">
            <h2 style="color: antiquewhite;">ABC_Retail</h2>
            <br />
            <br/>
            <h4>
                At ABC Retail, we offer a wide range of stylish and affordable clothing for men, women, and children. Our store is dedicated to providing high-quality fashion
                essentials that cater to diverse tastes and preferences.
                From casual wear to formal attire, our collection has something for everyone.
            </h4>

            <br />
            <br />

            <h2 style="color: antiquewhite;">Explore Our Departments</h2>
            <br />
            <h4>
                Women's Fashion: Discover the latest trends in tops, bottoms, dresses, and outerwear from popular brands and our in-house labels.<br/>
                Men's Fashion: Find stylish and comfortable clothing, including shirts, pants, jeans, and jackets for everyday wear and special occasions.<br/>
                Kids' Corner: Browse our adorable collection of clothing, shoes, and accessories for boys and girls of all ages.<br/>
                Accessories: Complete your look with our selection of hats, scarves, belts, bags, and jewelry.
            </h4>

            <br />
            <br />

            <h2 style="color: antiquewhite;">Why Shop with Us?</h2>
            <br />
            <h4>
                *Competitive prices without compromising on quality<br/>
                *Friendly and knowledgeable staff to assist with your shopping needsy<br />
                *Regular promotions and discounts to help you save even morey<br />
                *Convenient location with ample parking and easy accessibilityy<br />
            </h4>

            <br />
            <h2 style="color: antiquewhite;">Visit Us Today!</h2>
            <br/>
            <h4>
                Come and experience the best of fashion at ABC Retail. 
                We look forward to helping you find the perfect outfit!
            </h4>
            <br />
           
        </div></div>
</body>

</html>
