@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div style="background-image: linear-gradient(to bottom, #fbc0c0, #fb6c90); padding: 20px; border-radius: 10px; margin: 50px auto; width: 80%; text-align: justify;">
        <div class="text-center">
            <h2 class="display-4" style="font-weight: bold; font-family: 'Bella MT', sans-serif; color: #0a0a00;">Welcome To ABC Retail</h2>
        </div>
    </div>
</body>
</html>

